@use '../../styles/mixins' as *;

*{
    box-sizing: border-box;   
}
.date{
    padding: 1rem 0.5rem;
    color: navy;

&__data{
    display: flex;
    flex-direction: column;
 }   
 
&__container{
    display: flex;
    gap: 1rem;
 } 

&__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

&__form--day{
    display: flex;

    @include tablet {
        justify-content: center;
    }
    
 }

&__form--date{
    display: flex;

    @include tablet {
        justify-content: center;
    }
   
}

&__form--info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
 }
&__form--day{
    font-size: 1rem;
    line-height: 1.125rem;
    margin-bottom: 0;
    padding-bottom: 0.3rem;
 }
&__form--date{
    padding-bottom: 0.3125rem;
} 
}

.btn{
    display: flex;
    padding-top: 0.5rem;
    color: aliceblue;
    gap: 0.3rem;



&__add{
    background-color: aliceblue;
    border-radius: 4px;
}    
    
}

