@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


*{
    box-sizing: border-box;   
}

.nav{
   

&__container{
    width: 100%;
    background-color: lavenderblush;
    
    
 }    

&__label{
    text-decoration: none;
 } 

&__duo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: navy;
    padding: 0;
 } 

&__title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
    background-color: lavenderblush;
    color: navy;
    margin-top: 0;
    margin-bottom: 0;
} 
}