@use '../../styles/variables' as *;

*{
    box-sizing: border-box;   
}

.footer{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    color: navy;

&__social{
    font-size: 15px;
    line-height: 18px;
}    
}